.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .profile__name {
    font-size: 42px;
    line-height: 48px;
  }
}
