@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/content/content.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__pic/header__pic.css);

@import url(./blocks/button/button.css);
@import url(./blocks/button/__plus/button__plus.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__edit-container/profile__edit-container.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__skills/profile__skills.css);

@import url(./blocks/popup-place/__close/popup-place__close.css);
@import url(./blocks/popup-place/__text/popup-place__text.css);
@import url(./blocks/popup-place/__image/popup-place__image.css);
@import url(./blocks/popup-place/__container/popup-place__container.css);
@import url(./blocks/popup-place/popup-place.css);

@import url(./blocks/popup/__button-text/popup__button-text.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__name/popup__name.css);
@import url(./blocks/popup/__skills/popup__skills.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__user-info/popup__user-info.css);
@import url(./blocks/popup/popup.css);

@import url(./blocks/popup-cards/__button-text/popup-cards__button-text.css);
@import url(./blocks/popup-cards/__button/popup-cards__button.css);
@import url(./blocks/popup-cards/__close/popup-cards__close.css);
@import url(./blocks/popup-cards/__container/popup-cards__container.css);
@import url(./blocks/popup-cards/__name/popup-cards__name.css);
@import url(./blocks/popup-cards/__skills/popup-cards__skills.css);
@import url(./blocks/popup-cards/__title/popup__title.css);
@import url(./blocks/popup-cards/__user-info/popup-cards__user-info.css);
@import url(./blocks/popup-cards/popup-cards.css);
@import url(./blocks/hidden/hidden.css);
@import url(./blocks/overlay/overlay.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__image/cards__image.css);
@import url(./blocks/cards/__delete/cards__delete.css);
@import url(./blocks/cards/__like/cards__like.css);
@import url(./blocks/cards/__like-image/cards__like-image.css);
@import url(./blocks/cards/__title/cards__title.css);
@import url(./blocks/cards/__info-container/cards__info-container.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
