@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/content/content.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__pic/header__pic.css);

@import url(./blocks/button/button.css);
@import url(./blocks/button/__plus/button__plus.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__edit-container/profile__edit-container.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__skills/profile__skills.css);

@import url(./blocks/form/form.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_type/_error/form__input_type_error.css);
@import url(./blocks/form/__input/-error/form__input-error.css);
@import url(./blocks/form/__input/-error/_active/form__input-error_active.css);
@import url(./blocks/form/__close/form__close.css);
@import url(./blocks/form/__close-image/form__close-image.css);
@import url(./blocks/form/__image/form__image.css);
@import url(./blocks/form/-image/form-image.css);
@import url(./blocks/form/__text/form__text.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__user-info/form__user-info.css);
@import url(./blocks/form/__submit/form__submit.css);
@import url(./blocks/form/__submit-text/form__submit-text.css);
@import url(./blocks/form/-name/-error/form-name-error.css);
@import url(./blocks/form/-title/-error/form-title-error.css);
@import url(./blocks/button/_inactive/button_inactive.css);

@import url(./blocks/popup/popup.css);

@import url(./blocks/hidden/hidden.css);
@import url(./blocks/overlay/overlay.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__image/cards__image.css);
@import url(./blocks/cards/__delete/cards__delete.css);
@import url(./blocks/cards/__like/cards__like.css);
@import url(./blocks/cards/__like-image/cards__like-image.css);
@import url(./blocks/cards/__title/cards__title.css);
@import url(./blocks/cards/__info-container/cards__info-container.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
