.header {
  display: flex;
  padding-top: 28px;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1280px) {
  .header {
    width: 882px;
    height: 74px;
    padding-top: 45px;
  }
}
