.profile__skills {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1280px) {
  .profile__skills {
    font-size: 18px;
    line-height: 22px;
  }
}
