.form__submit-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 1280px) {
  .form__submit-text {
    font-size: 18px;
    line-height: 22px;
  }
}
