.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 320px;
}

@media screen and (min-width: 1280px) {
  .popup__container {
    width: 433px;
    height: 560px;
  }
}
